:root {
    --primary-background-color: #C2FBEF;
    --heading-text-color: #E9ECEC;
    --heading-font: #7CA2DF;
  }

  h1 {
    background-color: var(--primary-background-color);
    color: var(--heading-text-color);
    font-family: (var(--heading-font));
}

p {
    padding: 0;
    background-color: var(--primary-background-color);
    color: var(--heading-text-color);
    font-family: (var(--heading-font));
}

nav {
    background-color: var(--primary-background-color);
    padding: 10px;
    display: block;
    text-decoration: none;
    
}

nav a {
    background-color: var(--primary-background-color);
    color: var(--heading-text-color);
    font-family: (var(--heading-font));
    display: block;
    padding: 10px;
    text-decoration: none;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

    .hero img{
        display: block;
        width: 100%;
        height: auto;
}

aside {
    width: 20em;
    margin:1em ;
    border:1px solid rgba(0,0,0, 0.2) ;
    padding: 1em;
    background-color: #eee;
    color: gray;
    text-align: center;

}

aside img{
    width: 200px;
    height: auto;

}


footer{
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}


